{% extends "base.html" %}

    {% block head %}
    {{ super() }}
    <title>10A+</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/custom.css") }}">

    {% endblock %}

{% block content %}
   {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/" method="POST">
    {{ form.csrf_token }}
    <div data-toggle="fieldset" id="route-fieldset">
        {% for route in form.route %}
           <div data-toggle="fieldset-entry">
           <div class="form-group row">
               <div data-toggle="fieldset-name" class="col-form-label">{{ route.name }}</div>
               {{ route.color.label(class="col-form-label") }} {{ route.color(class="form-control col-sm-1") }}
               {{ route.attempt_1.label(class="col-form-label") }} {{ route.attempt_1(class="col-sm-1 form-control") }}
               {{ route.attempt_2.label(class="col-form-label") }} {{ route.attempt_2(class="col-sm-1 form-control") }}
               {{ route.attempt_3.label(class="col-form-label") }} {{ route.attempt_3(class="col-sm-1 form-control") }}
               {{ route.result.label(class="col-form-label") }} {{ route.result(readonly="readonly", class="col-sm-1 form-control") }}
               <button type="button" class="btn" data-toggle="fieldset-remove-row" id="route-{{loop.index0}}-remove"><i class="fa fa-trash"></i></button>
               {{ route.csrf_token }}
           </div>
            <br>
           </div>
        {% endfor %}
    <div class="form-group row">
    <button type="button" class="btn" data-toggle="fieldset-add-row" data-target="#route-fieldset"><i class="fas fa-plus"></i> Add route</button>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
    </form>
{% endblock %}
